.tutorials-container {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
 
}
.tutorials-heading {
    font-size: 54px;
    margin-left: 100px;
    padding-top: 50px;
    color: white;
    font-family: 'Assistant', sans-serif;
font-family: 'Noto Sans', sans-serif;
}

.tutorials-content {
    color: white;
    font-size: 18px;
    margin: auto;
    margin-left: 100px;
    margin-top: 4px;
}
.tutorials-content-container {
    width: 70%;
}