.instructions-list {
    width: 50%;
    border-radius: 8px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.instruction {
    margin: 10px;
    letter-spacing: 0.5px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

.instructions-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.textdiv{
    
    text-align: center;
}


